body {
  background-image: url("../images/linen_bkgrnd.jpg");
}

header h1 {
  background: #4b5331;            /*olive/khaki*/
  color: #adb89a;                 /*very light green*/
  margin: 3px;
  opacity: .75;
  padding: 12px 1px 12px 15px;
}

img {
  border: 3px gray solid;
  margin-right: 10px;
  width: 13%;
  height: 19%
}

p {
  color: #e0e0e0;
  margin: 1.5% 5%;
}

p a {                       /*links within paragraphs*/
  color: #e3e3e8;           /*light grey*/
  font-weight: bold;
}

h3, h4 {
  color: #999999;
  margin: 0 0 2% 3%;
  /*float: right;*/
}

.maindiv {
    background-image: url("../images/slate_bkgrnd_1280px.jpg");
    margin: 1.5% 10% 5% 10%;
    /*position: absolute; */
    border: 10px solid #4d4d4d;       /*dark grey*/
    padding: 10px;
}

.nav {
  margin: 2% 0 6% 7%;
}

button {
  color: #E2E6DB;
  background: #74748B;
  opacity: .8;
}